#sidenav{
    width: 300px;
    height: 100vh;
    background-color: skyblue;
}
::placeholder{
    font-size: 30px;
    font-weight: 600;
}
input{
    height: 70px;
}
button{
    width: 155px;
    height: 70px;
    padding: 15px 20px 15px 20px;
    color: white;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}
#display{
    width: 500px;
    height: 120px;
    color: black;
    background-color: whitesmoke;
    border: 3px solid black;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    border-radius: 15px;
}

@media only screen  and (max-width: 800px){
    #sidenav{
        width: 90px;
        height: 100vh;
    }
    /* ::placeholder{
        font-size: 30px;
        font-weight: 600;
    }
    input{
        height: 70px;
    }
    button{
        width: 155px;
        height: 70px;
        padding: 15px 20px 15px 20px;
        color: white;
        background-color: black;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }*/
    a{
        font-size: 12px;
    }
    #display{
        width: 250px;
        height: 60px;
        margin-top: 10px;
        font-size: 10px;
        font-weight: 100;
        border-radius: 5px;
    } 
}