
.glass{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 700 !important;
}
div ul li a {
    font-weight: 500;
    color: black !important;
    word-spacing: 10px;
}
div ul li a:hover{
    color: blue !important;
    font-weight: 800;
    transform: translateX(-10px);
    transition: 3s;
    letter-spacing: 10px;
}
.navbar-brand:hover{
    color: red !important;
    font-weight: 800 !important;
    transform: translateZ(20px);
    transition: 3s;
    letter-spacing: 5px;
}
.hov:hover{
    color: blue !important;
}